#inputErrorDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#react-error-icon::after{
  position: absolute;
  display: block;
  content: attr(data-tooltip);
  background-color: rgba(0,0,0,.7);
  color: #fff;
  font-size: 1.2rem;
  transform: translate(-60%, -100%) scale(0);
  padding: .5rem 1rem;
  border-radius: 5%;
  transition: transform 200ms ease;
}

#react-error-icon:hover::after{
  transform: translate(-100%, -140%) scale(1);
}